{% extends 'core/page.html' %}

{% block content %}
  <h1 class="title">Bedarf hinzufügen</h1>

  <form method="post">
    {% csrf_token %}

    <div class="field is-grouped">
      <div class="control">
        <div class="select">
          <select name="{{ form.concept.name }}">
            {% for choice in form.concept.field.choices %}
              <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="control">
        <a href="{% url 'create-concept' %}?next={{ request.get_full_path|urlencode }}" class="button">Konzept hinzufügen</a>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-primary">Bedarf hinzufügen</button>
      </div>
    </div>
  </form>
{% endblock %}
