{% extends 'core/page.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}

    <div class="field">
      <label class="label">Benutzername</label>
      <div class="control">
        <input class="input" type="text" name="username">
      </div>
    </div>

    <div class="field">
      <label class="label">Kennwort</label>
      <div class="control">
        <input class="input" type="password" name="password1">
      </div>
    </div>

    <div class="field">
      <label class="label">Kennwort wiederholen</label>
      <div class="control">
        <input class="input" type="password" name="password2">
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary">Registrieren</button>
      </div>
    </div>
  </form>
{% endblock %}
